<h1>Станции</h1>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th colspan="3" class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @railway_stations %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Новая станция', new_admin_railway_station_path %>
