<tr>
  <td><%= Carriage::TYPES[(carriage.type).to_sym] %></td>
  <td><%= carriage.top_seats %></td>
  <td><%= carriage.bottom_seats %></td>
  <%= render 'shared/actions', links: {
      show:   carriage_path(carriage),
      edit:   edit_carriage_path(carriage),
      delete: carriage_path(carriage)
  } %>
</tr>