<p>нижние: <%= carriage.bottom_seats  %></p>
<p>верхние: <%= carriage.top_seats  %></p>
<p>нижние, сбоку:  <%= carriage.side_bottom_seats  %></p>
<p>верхние, сбоку: <%= carriage.side_top_seats  %></p>
