<h1>Вагоны</h1>

<table class="table">
  <thead>
  <tr>
    <th>Тип вагона</th>
    <th>Верхние места</th>
    <th>Нижние места</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <% @carriages.each do |carriage| %>
      <%= render 'carriage', carriage: carriage %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carriage', new_carriage_path %>
