<h1>Билеты</h1>
<table class="table">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Поезд</th>
      <th>Маршрут</th>
      <th>Станция отправления</th>
      <th>Станция прибытия</th>
      <th colspan="2" class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br/>
<%= link_to 'Новый билет', new_admin_ticket_path %>
