<tr>
  <td><%= railway_station.title %></td>
  <%= render 'shared/actions', links: {
      show:   railway_station,
      edit:   edit_railway_station_path(railway_station),
      delete: railway_station_path(railway_station)
  } %>
</tr>
