<h1><%= t('.edit_carriage') %></h1>

<%= render 'form', carriage: @carriage %>
<br/>
<%= link_to t('common.show'), admin_train_carriage_path(@carriage) %> |
<%= link_to t('common.back'), admin_train_path(@carriage.train) %>
