html,
body,
main {
    height: 100%;
}

body, main {
    background: url("red_train.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* Navigation*/

.navbar {
    background-color: transparent;
}

#my-brand {
    position: relative;
    font-size: 25px;
    line-height: 30px;
    text-shadow: -3px 0 4px #006;
    /*-webkit-mask-image: -webkit-gradient(linear, left top,*/
    /*left bottom, from(rgba(0, 188, 212, 0.7)), to(rgba(3, 169, 244, 0.1)));*/
}

.top-nav-collapse {
    background-color: #2E2E2E;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2E2E2E;
    }
}
/*Intro*/

@media (max-width: 768px) {
    main {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 0%;
    padding-bottom: 2rem;
    color: #fff
}

#transparent {
    background: rgba(0, 188, 212, 0.5) ;
    padding: 10px 0 3px 0 ;
    position:relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 40px;
    border: black 1px solid;
}

.search-card {
    background: rgba(0, 188, 212, 0.5);
    padding: 10px 0 3px 0 ;
    border-radius: 40px;
    border: black 1px solid;

}

.dropdown-content {
    border: black 1px solid;
    border-radius: 10px;
    font-size: larger;
}

#non-bordered-th th {
    border-top: none;
    font-weight: 500;
    color: white;
}


#ticket_passenger_name, #ticket_passport_number {
    border-radius: 10px;
    border: black 1px solid;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white  inset;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white  inset;
    -webkit-text-fill-color: #333;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: 5px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 20px;
    position: relative;

}
.site-footer {
    background: none;
}
